.vs/

Ersk.Simulation/obj
Ersk.Simulation/bin
PixiJSTest/obj
PixiJSTest/bin
TestProject1/obj
TestProject1/bin
LocationMap/obj
LocationMap/bin
TestRunner/obj
Ersk43.Bogano.Mono/bin
Ersk43.Bogano.Mono/obj
/PixiJSTest/obj/Debug/net8.0/ref/PixiJSTest.dll
/PixiJSTest/obj/Debug/net8.0/refint/PixiJSTest.dll
/Ersk.Simulation/obj/Debug/net8.0/Ersk.Simulation.csproj.CoreCompileInputs.cache
/Ersk.Simulation/obj/Debug/net8.0/Ersk.Simulation.csproj.FileListAbsolute.txt
/Ersk.Simulation/obj/Debug/net8.0/Ersk.Simulation.sourcelink.json
/PixiJSTest/obj/PixiJSTest.csproj.nuget.dgspec.json
/PixiJSTest/obj/PixiJSTest.csproj.nuget.g.props
/PixiJSTest/obj/project.assets.json
/TestProject1/obj/Debug/net8.0/TestProject1.csproj.CoreCompileInputs.cache
/TestProject1/obj/Debug/net8.0/TestProject1.csproj.FileListAbsolute.txt
/TestProject1/obj/Debug/net8.0/TestProject1.sourcelink.json
/TestRunner/obj/Debug/net8.0/TestRunner.csproj.CoreCompileInputs.cache
/TestRunner/obj/Debug/net8.0/TestRunner.csproj.FileListAbsolute.txt
/TestRunner/obj/Debug/net8.0/TestRunner.sourcelink.json
/PixiJSTest/obj/Debug/net8.0/scopedcss/bundle/PixiJSTest.styles.css
/PixiJSTest/obj/Debug/net8.0/scopedcss/projectbundle/PixiJSTest.bundle.scp.css
